.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1
}

.custom-modal {
    width: 90%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3)
}

.light-theme .custom-modal {
    background-color: #fff;
    color: #393b3d
}

.dark-theme .custom-modal {
    background-color: #393b3d;
    color: #fff
}

@media(min-width:768px) {
    .custom-modal {
        width: 70%
    }
}

@media(min-width:1024px) {
    .custom-modal {
        width: 35%
    }
}

.modal-content {
    background: transparent;
    border: none;
    margin: 20px 0
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px
}

.modal-header .modal-head-left {
    flex: 1
}

.modal-header .modal-head-right {
    flex-shrink: 0;
    margin-left: 10px;
    margin-top: 5px
}

.modal-header .modal-head-right .transparent-button {
    background-color: transparent;
    border: none;
    color: inherit
}

.modal-header .modal-head-right .close-icon {
    background-position: 0, 0;
    background-size: auto;
    display: block;
    height: 20px;
    width: 20px
}

.light-theme .modal-header .modal-head-right .close-icon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMzkzYjNkIiBoZWlnaHQ9IjIwIiB3aWR0aD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjAuMyAyMS43TDEyIDEzLjRsLTguMyA4LjMtMS40LTEuNCA4LjMtOC4zLTguMy04LjMgMS40LTEuNCA4LjMgOC4zIDguMy04LjMgMS40IDEuNC04LjMgOC4zIDguMyA4LjN6Ii8+PC9zdmc+)
}

.dark-theme .modal-header .modal-head-right .close-icon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZmZmIiBoZWlnaHQ9IjIwIiB3aWR0aD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjAuMyAyMS43TDEyIDEzLjRsLTguMyA4LjMtMS40LTEuNCA4LjMtOC4zLTguMy04LjMgMS40LTEuNCA4LjMgOC4zIDguMy04LjMgMS40IDEuNC04LjMgOC4zIDguMyA4LjN6Ii8+PC9zdmc+)
}

.form-container {
    width: 70%;
    margin: auto
}

.flex-space-between-container {
    justify-content: space-between
}

.flex-space-between-container,
.other-radio-container {
    display: flex;
    align-items: center
}

.main-card,
.section {
    margin-top: 30px
}

.main-card {
    padding: 20px;
    border-radius: 8px
}

.light-theme .main-card {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .4)
}

.dark-theme .main-card {
    background-color: #393b3d;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1)
}

.main-card .dsa-reason-limit {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px
}

.main-card .nonresizable {
    resize: none
}

.custom-radio-group {
    display: flex;
    flex-direction: column
}

.radio-item {
    display: inline-block;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0
}

.radio-item input[type=radio] {
    display: none
}

.radio-item input[type=text] {
    margin-left: 10px;
    background-color: transparent;
    border-radius: 4px;
    width: 50%
}

.radio-item input[type=text]:focus {
    outline: transparent
}

.light-theme .radio-item input[type=text]:focus {
    border: 1px solid #393b3d
}

.dark-theme .radio-item input[type=text]:focus {
    border: 1px solid #fff
}

.radio-item label:hover {
    cursor: pointer
}

.radio-item label:before {
    content: "";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    background-color: transparent
}

.light-theme .radio-item label:before {
    border: 2px solid #393b3d
}

.dark-theme .radio-item label:before {
    border: 2px solid #fff
}

.radio-item input[type=radio]:checked+label:after {
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 9px;
    left: 10px;
    content: "";
    display: block
}

.light-theme .radio-item input[type=radio]:checked+label:after {
    background: #393b3d
}

.dark-theme .radio-item input[type=radio]:checked+label:after {
    background: #fff
}

.other-violation-input {
    margin-top: 12px;
    width: 40%;
    outline: none
}

.error-text {
    color: #d86868
}

.no-text-transform {
    text-transform: none
}

.styled-modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    padding: 16px
}

.styled-modal-box>.box {
    display: flex;
    justify-content: space-between
}

.margin-top-20 {
    margin-top: 20px
}

.loading-button {
    border: 1px solid grey;
    background-color: #fff;
    color: grey;
    cursor: not-allowed
}

.white-space-button {
    white-space: normal
}

.loading-spinner {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid grey;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin .8s linear infinite
}

@keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

.margin-left-5 {
    margin-left: 5px
}

.pointer-cursor {
    cursor: pointer
}

.dsa-description p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1em
}